mdep_analytics:
  target: dev
  outputs:
    dev:
      type: snowflake
      account: "{{ env_var('SNOWFLAKE_ACCOUNT') }}"
      user: "{{ env_var('SNOWFLAKE_USER') }}"
      authenticator: "{{ env_var('SNOWFLAKE_AUTHENTICATOR', 'externalbrowser') }}"
      role: "{{ env_var('SNOWFLAKE_ROLE', 'MDEP_TRANSFORMER') }}"
      warehouse: "{{ env_var('SNOWFLAKE_WAREHOUSE', 'MDEP_TRANSFORM_WH') }}"
      database: "{{ env_var('SNOWFLAKE_DATABASE', 'MDEP') }}"
      schema: "{{ env_var('SNOWFLAKE_SCHEMA', 'GOLD') }}"
      threads: 2
